<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime" version="10.2.5.857" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net45" />
  <package id="IS3.ArcGIS" version="0.1.2" allowedVersions="[0.1.2]"  targetFramework="net45" />
  <package id="IS3.Core" version="0.1.2" targetFramework="net45" />
  <package id="U3DPlayerAxLib" version="1.0.0" targetFramework="net45" />
</packages>